*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background: aqua;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-between;*/
    height: 50vh; 
    align-items: flex-start;
}
.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    /* flex: 1; */
}
/* .item-1{
    flex-shrink: 3; หดตัว3เท่า 
    flex-basis: 500px; ความยาวยืดหยุ่น
}
.item-2{
    flex-grow: 2; ขยาย2เท่า 
} */
.item-3{
    align-self: flex-end;
}